<section class="hero is-link is-small">
  <div class="hero-head">
    <p class="title">
      Foodlog
    </p>
    <p class="subtitle">
      Primary subtitle
    </p>
  </div>
  <div id="navbarMenuHeroA" class="navbar-menu">
    <div class="navbar-end">
      <span class="navbar-item">
        <%= link_to "Home", root_path, class: "button is-success"%>
      </span>
      <span class="navbar-item">
        <%= link_to "Create new entry", new_entry_path, class: "button is-success"%>
      </span>
    </div>
  </div>

  <div class="hero-body"> 
    <div class="container has-text-centered">
      <h1 class="title">
        <% if content_for(:title) %>
          <%= yield :title %>
        <% else %>
          Foodlog
        <% end %>
      </h1>
      <h2 class="subtitle">
      </h2>
    </div>
  </div>

</section>